body {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: olive;
}

.purple {
  color: #7b07ff;
}

.border {
  border: 3px solid greenyellow;
}

#banner {
  width: 100%;
}
.square {
  width: 400px;
  object-fit: cover;
  height: 400px;
}

#toc {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  display: table;
  padding: 1em;
}

#toc a {
  text-decoration: none;
}

.tocnumber {
  color: black;
}
img {
  background-color: transparent;
}

.pokemonSection {
  display: inline-block;
  text-align: center;
}
.pokemonImg {
  display: block;
}
.pokeNums {
}

#swatch {
  width: 100px;
  height: 100px;
}
#buttonContainer button {
  /* display: inline; */
  width: 100px;
  height: 100px;
  margin: 20px;
}
#buttonContainer p {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: black solid 1px;
}
